<h1>Here are the students</h1>
<%= @student.each do |student| %>
  <div>
    <!-- <a href="/students"></a> -->
    <%= link_to student.name, "/students/#{student.id}" %> - <%= find_house(student.house_id) %>
    
<% end %>
  </div>
