#background {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}
#background img {
  padding-left: 400px;
}

.steve {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main {
  background-color: white;
  width: 60%;
  float: left;
  padding: 20px;
}
.main img {
  width: 100%;
}
.sidecolumn {
  background-color: white;
  float: right;
  width: 25%;
  padding-left: 10px;
  margin-right: 50px;
  padding-bottom: 30px;

}

#socialmedia {
  
}
body {
  background-color: LightGrey;
}

.list ul {
  list-style: none;
  padding-left: 10px;
}
