.container {
  padding: 50px;
}
header img {
  display: flex;
}

header h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
#logo {
  background-color: red;
}

#savings {
  display: inline-block;
  justify-content: center;
  margin-left: 140px;
  margin-right: 40px;
  width: 30%;
  text-align: center;
  margin-right: : 50px;
  /*padding: 50px;*/
  /*justify-content: space-around;*/
  background-color: red;
  border: 1px solid black;
}

#checking {
  display: inline-block;
  text-align: center;
  width: 30%;
  background-color: yellow;
  border: 1px solid black;
}

h3 {
  display: inline-block;
  /*align-self: center;
  align-content: space-around;*/
  /*justify-content: center;*/
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background-color: LightBlue;
}

button {
  padding: 10px;
  margin: 10px;
}
