<h1>Index</h1>

<form action="/movie_input"> <!-- action = URL -->
  <input type="text" name="movie" placeholder="movie title"> <!-- name attribute = params key -->
  <button> Search</button>
</form>
<!-- http://www.omdbapi.com/?t=jaws -->
<!-- apikey=2f6435d9& -->
<!-- http://www.omdbapi.com/?apikey=[yourkey]& -->
<!-- http://img.omdbapi.com/?apikey=[yourkey]& -->
