<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
  <nav>
    <div class="wrapper">
      <form class="search" action="/movie_index"> <!-- action = URL -->

      <input type="text" name="movie" placeholder="movie title">
      <!-- name attribute = params key -->
      <button> Search</button>
      </form>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
