

h2 {
  color: grey;
}

h4 {
  font-size: 14px;
  color: DeepSkyBlue;
  text-decoration: underline;
}

p {
  color: grey;
}
.sponsors img {
  border: 2px solid DarkGrey;
  float: left;
  margin: 1px;
  width: 220px
}
footer {
  color: grey;
}
#copyright {
  clear: left;
}
