<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <style>
      body {
        background-color: <%=colors%>;
      }
    </style>
    <h2>Emergency Compliments!</h2>

    <h3><%=compliments%></h3>
  </body>
</html>
